/* universal selector */

/* * {
  color: hotpink;
} */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
  background: beige;
}

h1 {
  color: blueviolet;
  font-weight: bold;
  font-size: 32px;
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: limegreen;
}

p {
  /* font-weight: bold; */
}

.bluecolor {
  color: blue;
}

#purple-color,
h3 {
  color: purple;
}

section {
  text-align: center;
  border: 2px solid crimson;
  margin-bottom: 20px;
  background-color: rgb(150, 245, 213);
}

h2 {
  border: 1px dashed green;
}
